*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter";
}
/* tags necessarias*/
html,body{
    height: 100%;
}
.clear{clear:both;}
.center{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 2%;
}
.mobile__button{
    position: absolute;
    top: 10px;
    right: 20px;
    width: 30px;
    height: 30px;
    z-index: 10;
    display: none;
}
.mobile__button span{
    width: 100%;
    height: 100%;
    border-radius: 4px;
    display: block;
    position: relative;
    cursor: pointer;
}
.line1{
    position: absolute;
    top: 4px;
    left: 0;
    width: 100%;
    height: 2.5px;
    background-color: #fff;
    border-radius: 4px;
    transition: all .5s ease 0s;
}
.line2{
    position: absolute;
    top: 14px;
    left: 0;
    width: 100%;
    height: 2.5px;
    background-color: #fff;
    border-radius: 4px;
    transition: all .5s ease 0s;
}
.line3{
    position: absolute;
    top: 24px;
    left: 0;
    width: 100%;
    height: 2.5px;
    background-color: #fff;
    border-radius: 4px;
    transition: all .5s ease 0s;
}
.mobile{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 6;
    display: block;
    justify-content: center;
}
.menu__mobile{
    display: none;
    min-height: 100vh;
    background-color: #333;
}
.mobile ul{
    list-style-type: none;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.mobile li{
    margin-top: 40px;
    flex-grow: .2;
}
.mobile li:nth-of-type(3){
    flex-grow: 1;
}
.mobile a{
    text-decoration: none;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 18px;
    border-radius: 22px;
    color: #fff;
    padding: 6px 20px;
}
/*site*/
section.main{
    position: relative;
    min-height: 100vh;
    background-image: url(../img/final.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 70px;
}
.main .center > h2{
    text-align: center;
    font-weight: 200;
    font-family: "Montserrat";
    color: #fff;
    font-size: 70px;
    padding-bottom: 22px;
}
.main::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 20%);
    z-index: 1;
}
.main::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, rgb(0 0 0 / 30%), transparent);
}
header.cabecalho{
    position: fixed;
    width: 100%;
    z-index: 5;
    background-color: rgb(0 0 0 / 16%);
    backdrop-filter: blur(2px);
}
.flex__header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.logo{
    font-family: "Poppins";
    font-weight: 500;
    color: #fff;
    width: 32%;
}
.desktop{
    width: 70%;
}
.desktop ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
}
.desktop ul li{
    display: inline-block;
}
.desktop li a{
    position: relative;
    text-decoration: none;
    color: #fff;
    font-family: 'Poppins';
    font-weight: 500;
    padding: 4px 12px;
    border-radius: 12px;
    transition: all .5s ease 0s;
}
.desktop li a:hover{
    background-color: rgb(0 0 0 / 20%);
}
.main > .center {
    z-index: 2;
    position: relative;
}
.content{
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-radius: 22px;
    backdrop-filter: blur(6px);
    box-shadow: 2px 4px 12px rgb(0 0 0 / 40%);
    padding: 0 2%;
}
.content__about{
    width: calc(100% * (1/2));
    margin-right: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content__about p{
    font-size: 20px;
    color: #fff;
    font-family: "Montserrat";
    font-weight: 400;
}
.content__grafico{
    width: calc(100% * (1/2));
    height: auto;
}
/*segunda section*/
.cerrado{
    background-color: #f2f2f2;
    padding: 70px 5%;
    padding-bottom: 150px;
    position: relative;
}
.cerrado__content p {
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 22px;
    line-height: 1.6;
    padding-top: 20px;
}
.cerrado__content h2{
    margin-top: 70px;
}
.cerrado__content b{
    background-color: red;
    color: #fff;
    padding: 0 2px;
    width: 100%;
    opacity: 0;
    width: 100%;
}
/*terceira section*/
.aplicativo{
    background-color: #333;
    padding: 0 5%;
    padding-bottom: 30px;
    position: relative;
}
.aplicativo > h2{
    text-align: center;
    color: #f2f2f2;
    font-family: "Poppins";
    font-weight: 500;
    
    font-size: 30px;
}
.aplicativo > h2 > b{
    color: lightgreen;
    text-shadow: 2px 4px 12px rgba(52, 240, 52, 0.3);
}
.celular{
    width: 100%;
    height: 400px;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%) translateY(-100px);
    background-image: url(../img/celular.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.aplicativo .fa-chevron-down{
    font-size: 30px;
    position: relative;
    left: 50%;
    color: #fff;
    padding-top: 35px;
    transform: translateX(-50%);
}
.aplicativo__content{
    display: flex;
    width: 100%;
}
.aplicativo__tittle{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    background-color: #2F3C0F;
    border-radius: 22px;
    padding: 12px 20px;
    text-align: center;
    box-shadow: 2px 4px 12px rgb(0 0 0 / 10%);
}
.aplicativo__tittle p{
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}
.android{
    width: 100px;
    height: 30px;
    background-image: url(../img/android.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.content__code{
    margin-top: 40px;
    padding: 4px;
    border: 3px solid rgb(131, 131, 131);
    border-radius: 22px;
}
.aplicativo__lore{
    padding-right: 22px;
    padding-top: 30px;
}
.aplicativo__lore a{
    background-color: #90ee90;
    text-decoration: none;
    color: #fff;
    font-family: "Poppins";
    font-weight: 500;
    font-size: 20px;
    padding: 4px 20px;
    border-radius: 4px;
    transition: all .5s ease 0s;
}
.aplicativo__lore a:hover{
    background-color: #59b859;
    box-shadow: 2px 4px 12px #59b859;
}
.qrcode{
    width: 100px;
    height: 100px;
    background-image: url(../img/frame2.png);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 8px;
}
.aplicativo__content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*footer*/
footer{
    background-color: #0B0A0F;
    padding: 22px 2%;
    width: 100%;
}
.footer__content{
    padding-top: 30px;
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(255 255 255 / 10%);
}
.footer__single{
    width: calc(100% * (1/4));
    display: flex;
    justify-content:flex-start;
    flex-direction: column;
}
.footer__single h2:not(.logo h2){
    font-size: 14px;
    color: #fff;
    padding-bottom: 15px;
    font-family: "Poppins";
    font-weight: 500;
}
.footer__single p{
    font-size: 14px;
    color: #c4c4cc;
    padding: 6px 0;
    font-family: "Poppins";
    font-weight: 500;
}
.footer__single p a{
    color: #c4c4cc;
    text-decoration: none;
    font-family: "Poppins";
    font-weight: 500;
}
.footer__single .logo ~ p{
    padding-top: 16px;
    color: #c4c4cc;
    font-size: 14px;
    font-family: "Poppins";
    font-weight: 500;

}
.footer__single .logo{
    width: 100%;
}
.footer__single .logo h2{
    font-size: 16px;
}
.footer__download{
    display: flex;
    justify-content: flex-start;
    flex-direction:row;
}
.footer__download div:not(.android){
    width: calc(100% * (1/3));
}
.footer__single .qrcode{
    transform: translateX(50%);
}
.footer__download div:nth-of-type(2){
    margin-left: 22px;
}
.footer__download div a{
    text-decoration: none;
    color: #fff;
    background-color: #90ee90;
    padding: 4px 16px;
    border-radius: 22px;
    transition: all .5s ease 0s;
}
.footer__download div a:hover{
    background-color: #59b859;
    box-shadow: 1px 2px 12px #59b859;
}
.copy{
    text-align: center;
    color: #8d8d99;
    padding-top: 22px;
    font-size: 14px;
}
/*mobile 790px*/
@media screen and (max-width: 790px){
    .mobile__button{
        display: block;
    }
    .desktop{
        display: none;
    }
    .flex__header{
        justify-content: center;
    }
    .logo{
        flex-grow: 1;
        text-align: center;
    }
    .content{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px 2%;
    }
    .content__about{
        width: 100%;
        margin-right: 0;
        padding: 10px 2%;
    }
    .content__about p{
        font-size: 18px;
    }
    .content__grafico{
        width: 100%;
        position: relative;
    }
    .content__grafico canvas{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    footer .logo{
        text-align: left;
    }
    .footer__content{
        flex-wrap: wrap;
    }
    .footer__single{
        width: 50%;
        margin-right: 22px;
        padding: 20px 0;
    }
}
@media screen and (max-width: 500px){
    .footer__single{
        max-width: 300px;
        width: 100%;
        margin-right: 22px;
    }
}
@media screen and (max-width: 400px){
    .logo h2{
        font-size: 16px;
    }
    .mobile__button{
        top: 5px;
        right: 10px;
    }
}